.settings
.cproject
build
._*
.\#*
\#*
doc/build
*.pyc
.rosinstall
.project
.pydevproject
*~
*.orig
*~
bin/.tmp
.tmp
*.dot
build
*.png
.nfs*
chromedriver.log
*.swp
*.swo
*.swn
*.swm
tooltip/bin/data
Testing/
.svn
build_html
bigdata/*
!bigdata/*.py
sphinx_build
dox_build
.hg
ext/rbdl/addons
ext/rbdl/src/Eigen
ext/rbdl/vendor
ext/rbdl/doc
*.vcproj
*.sln
callgrind.*
*.cmake
Makefile
CMakeFiles
CMakeCache.txt
make_eclipse_project.sh
src/cloudproc/determineNumpyPath.py
src/humanoids/determineNumpyPath.py
src/trajopt/determineNumpyPath.py
.*.swo
.*.swm
.*.swp
.*.swn
benchmarks/needle_steering/scaleobj/scaleobj
